$color-branding: #047582;
$color-background: #fdd8d0;

$transition: all 250ms ease-in-out;
$transition-duration: 250ms;

$header-height: 100px;
$menu-line-transform: translateX(-50%);
$icons-hover: scale(1.05);

$slider-height: 430px;