
$color-branding: #047582;
$color-background: #fdd8d0;

$transition: all 250ms ease-in-out;
$transition-duration: 250ms;

$header-height: 100px;
$menu-line-transform: translateX(-50%);
$icons-hover: scale(1.05);

// $slider-height: 430px;
// $slider-height-tablet: 610px;
// $slider-height-desktop: 100vh;

$color-background-project: rgba(4, 117, 130, 0.83);