
$color-branding: #047582;
$color-background: #fdd8d0;

$transition: all 250ms ease-in-out;
$transition-duration: 250ms;

$header-height: 100px;
$menu-line-transform: translateX(-50%);
$icons-hover: scale(1.1);

$color-background-project: rgba(4, 117, 130, 0.83);
$color-background-form: #d9d9d9;