@import '../../styles/utils';

.Logo {
  @include square(54px);
  display: block;
  transition: $transition;
  cursor: pointer;

  &:hover {
    transform: $icons-hover;
  }

  @include onDesktop {
    @include square(70px);
  }

  &__image {
    // @include square(54px);
    display: block;
    width: 100%;
    height: 100%;
    object-fit:contain;

    @include onDesktop {
      @include square(70px);
    }
  }
}