@import '../../styles/utils';

.Header {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: $header-height;

  &__nav {
    display: none;
  }

  &__hamburger {
    @include square(54px);
    @extend %background-img;
    background-size: 40px 40px;

    position: absolute;
    right: 20px;
    top: 20px;

    transition: $transition;

    &--menu {
      background-image: url('../../../public/images/icons/menu.svg');
    }

    &--cross {
      background-image: url('../../../public/images/icons/cross.svg');
    }

    @include onTablet{
      display: none;
    }
  }

  &__socials {
    display: none;
  }
}