@import '../../styles/utils';

.Header {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: $header-height;
  z-index: 1000;

  &__logo {
    position: absolute;
    left: 20px;
    top: 20px;
  }

  &__nav {
    display: none;
  }

  &__hamburger {
    @include square(54px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 20px;
    top: 20px;

    @include onTablet {
      display: none;
    }
  }

  &__socials {
    display: none;
  }
}