@import '../../styles/utils';

.Header {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: $header-height;

  &__nav {
    display: none;
  }

  &__hamburger {
    @include square(54px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 1000;
  }

  &__socials {
    display: none;
  }
}