@import '../../styles/utils';

.Intro {
  height: 100vh;

  &__title {
    font-family: Typefesse;
    color: $color-branding;
    font-size: 48px;
    font-weight: 400;
    text-align: center;
    padding-top: 50%;
  }
}