@import '../../styles/utils';

.Intro {
  font-family: 'Oswald', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__content {
    flex-grow: 1;
    padding: 0 30px;

    @include onTablet {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }
  }

  &__holder {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding-top: 150px;

    @include onTablet {
      width: 80%;
      padding-top: 60px;
    }

    @include onDesktop {
      width: 60%;
    }

    @include onLargeScreen {
      width: 100%;
    }
  }

  &__title-img {
    max-width: 100%;
    object-position: center;
    object-fit: contain;
  }

  &__sub-container {
    @extend %background-img;
    width: 100%;

    @include onTablet {
      position: absolute;
      left: 5%;
      bottom: -220px;
      max-width: 230px;
      height: 300px;
      background-image: url('../../../public/images/intro/cloud.webp');
    }

    @include onDesktop {
      max-width: 280px;
    }

    @include onLargeScreen {
      height: 400px;
      max-width: 450px;
      left: -10%;
      bottom: -250px;
    }
  }

  &__subtitle {
    margin: 30px 0 10px;
    text-align: center;
    font-size: 16px;

    @include onTablet {
      display: block;
      width: 148px;
      color: $color-background;
      position: absolute;
      top: 14%;
      left: 56%;
      transform: translateX(-50%);
    }

    @include onDesktop {
      width: 180px;
      font-size: 18px;
    }

    @include onLargeScreen {
      width: 300px;
      font-size: 26px;
    }
  }

  &__bg-container {
    margin: 0 auto;
    max-width: 340px;
    max-height: 300px;
    width: 100%;
    height: 100%;
    background-image: url('../../../public/images/intro/me.webp');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom center;

    @include onTablet {
      max-width: 460px;
    }

    @include onDesktop {
      max-height: 320px;
    }

    @include onLargeScreen {
      max-height: 500px;
    }
  }
}