@import '../../styles/utils';

.Socials {
  display: flex;
  justify-content: center;
  align-items: center;

  * > & :not(:last-child) {
    margin-right: 30px;

    @include onTablet {
      margin-right: 10px;
    }
  }
}

.SocialLink {
  @extend %background-img;
  @include square(54px);
  transition: $transition;
  cursor: pointer;

  &:hover {
    transform: $icons-hover;
  }

  @include onTablet {
    @include square(38px);
  }
}