@import './styles/utils';

body {
  padding-top: env(safe-area-inset-top); /* This ensures the content starts below the status bar */
  background-color: $color-background;
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro", Roboto, Helvetica, Arial, sans-serif;
}

.App {
  font-weight: 400;
  color: $color-branding;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
}

