@import '../../styles/utils';

.Nav {
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;

    color: $color-branding;

    @include onTablet {
      flex-direction: row;
    }

    * > & :not(:last-child) {
      margin-bottom: 60px;

      @include onTablet {
        margin: 0 30px 0 0;
      }
    }
  }

  &__item {
    margin: 0 auto;
    width: max-content;
  }

  &__link {
    position: relative;
    font-weight: 600;
    font-size: 50px;
    line-height: 50px;
    cursor: pointer;

    @include onTablet {
      font-size: 20pt;
      line-height: 20pt;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      background-color: $color-branding;
      width: 0;
      height: 2px;
      left: 50%;
      transition: $transition;
      transform: translateX(-50%);
      margin-bottom: -8px;
    }

    &:hover::after,
    &:active::after {
      width: 100%;
    }
  }
}