@import '../../styles/utils';

.Nav {
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;

    color: $color-branding;

    * > & :not(:last-child) {
      margin-bottom: 60px;
    }
  }

  &__item {
    margin: 0 auto;
    width: max-content;
  }

  &__link {
    position: relative;
    font-weight: 500;
    font-size: 50px;
    line-height: 50px;
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      background-color: $color-branding;
      width: 0;
      height: 2px;
      left: 50%;
      transition: $transition;
      transform: translateX(-50%);
    }

    &:hover::after,
    &:active::after {
      width: 100%;
    }
  }
}