@import '../../styles/utils';

.Work {
  font-family: 'Oswald', sans-serif;
  width: 100%;
  height: auto;

  &__intro {
    @include onTablet {
      position: relative;
    }
  }

  &__intro-img-wrapper {
    width: 100%;
    height: auto;

    @include onTablet {
      width: 80%;
    }
  }

  &__intro-img {
    width: 100%;
    height: auto;
  }

  &__intro-content {
    box-sizing: border-box;
    width: 100%;
    text-align: end;
    padding: 0 20px 10px 0;

    @include onTablet {
      padding: 0;
      position: absolute;
      bottom: 10%;
      right: 4%;
    }
  }

  &__intro-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;

    @include onTablet {
      font-size: 24px;
      line-height: 24px;
    }

    @include onDesktop {
      font-size: 38px;
      line-height: 38px;
    }
  }
}